* {
    padding: 0;
    margin: 0;
}

html, body, #react-entry-point, .content {
    height: 100%;
    width: 100%;
}

.titre {
    text-align: left;
    font-family: Verdana;
    font-size: 20;
}

.d-flex {
    display: flex;
    gap: 10px 10px;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grow-1 {
    flex: 1;
}

.grow-2 {
    flex: 2;
}

.grow-3 {
    flex: 3;
}

.trafic-port {
    max-height: 300px;
    overflow-y: scroll;
}