* {
    padding: 0;
    margin: 0;
}

html, body, #react-entry-point, .content {
    height: 100%;
    width: 100%;
}

.content {
    background-color: LightBlue;
}

.titre {
    text-align: center;
    font-family: Verdana;
}

.d-flex {
    display: flex;
    gap: 4px 4px;
}

.flex-column {
    flex-direction: column;
}

.grow-1 {
    flex: 1;
}

.grow-2 {
    flex: 2;
}

.grow-3 {
    flex: 3;
}

.trafic-port {
    max-height: 300px;
    overflow-y: scroll;
}

.card {
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
    padding: 6px;  
}

.m-1 {
    margin: 4px;
} 

.center {
    text-align: center;
}